* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    cursor: url('images/mouse-cursor.png'), auto;
}

a{
  cursor: url('images/mouse-cursor.png'), auto;
}

.home {
    float: left;
    margin: 13px;
    border-radius: 100px;
    border: 1px solid #ffb0a1;
    box-shadow: 2px 2px 20px #701c35;
}

.head {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    color: #ffb0a1;
    text-shadow: 2px 2px 10px #701c35;
    display: inline-block;
    /* background-color: #151136; */
    position: relative;

}

/* .main-head{
    display: flex;
    justify-content: center;
  } */

header {
    text-align: center;
    background-color: #946599;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;

}
/* header img{
    width: 40px;
} */

.container {
    display: flex;
    /* background-color: red; */
    justify-content: center;
}

.game-container {
    text-align: center;
    margin-top: 100px;
    /* background-color: red; */
    /* border: 7px solid #946599;
    border-radius: 15px; */
    width: 700px;
    padding: 10px;
}

/* h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
} */

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
    justify-content: center;
}

.card {
    width: 150px;
    height: 200px;
    /* perspective: 1000px; */
}

.card-inner {
    width: 100%;
    height: 100%;
    /* transform-style: preserve-3d; */
    position: relative;
    /* transition: transform 0.6s; */
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    /* background-color: #ffcc00; */
    background-image: url('../game/images/logo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.card-back {
    background-color: #333;
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media (max-width:700px) {
    .card {
        width: 130px;
        height: 170px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 130px);

        gap: 10px;
    }
}

@media (max-width:570px) {
    
    .card {
        width: 110px;
        height: 150px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 110px);

        gap: 10px;
    }
}

@media (max-width:490px) {
    .head{
        font-size: x-large;
    }
    header img{
        width: 25px;
    }
    .card {
        width: 90px;
        height: 120px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 90px);

        gap: 10px;
    }
}

@media (max-width:440px) {
    .card {
        width: 90px;
        height: 120px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 90px);

        gap: 10px;
    }
}

@media (max-width:411px) {
    body{
        overflow: hidden;
    }
    .card {
        width: 75px;
        height: 100px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 77px);

        gap: 10px;
    }
}

@media (max-width:390px) {
    body{
        overflow: hidden;
    }
    .card {
        width: 75px;
        height: 100px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 77px);

        gap: 10px;
    }
}

@media (max-width:358px) {
    body{
        overflow: hidden;
    }
    .card {
        width: 65px;
        height: 90px;
        /* perspective: 1000px; */
    }

    .game-grid {
        grid-template-columns: repeat(4, 65px);

        gap: 10px;
    }
}