@media (max-width:560px) {
  .head {
    font-size: x-large;
  }

  header img {
    width: 25px;
  }
}

* {
  margin: 0px;
  padding: 0px;
}


body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  cursor: url('images/mouse-cursor.png'), auto;
}

a{
  cursor: url('images/mouse-cursor.png'), auto;
}

.head {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px;
  color: #ffb0a1;
  text-shadow: 2px 2px 10px #701c35;
  display: inline-block;
  /* background-color: #151136; */
  /* position: relative;
  left: 35px; */

}

header {
  text-align: center;
  background-color: #946599;
  box-shadow: 1px 1px 10px black;
  overflow: hidden;

}

.user-profile {
  float: right;
  margin: 13px;
  border-radius: 100px;
  border: 1px solid #ffb0a1;
  box-shadow: 2px 2px 20px #701c35;
}

.home {
  float: left;
  margin: 13px;
  border-radius: 100px;
  border: 1px solid #ffb0a1;
  box-shadow: 2px 2px 20px #701c35;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 200px;
}


.menu a {
  padding: 5px;
  text-decoration: none;
  color: #ffb0a1;
  text-align: center;
  cursor: url('images/mouse-cursor.png'), auto;


}

.options {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('images/mouse-cursor.png'), auto;
  margin-bottom: 20px;
  background-color: #946599;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease-in-out;
}

.options:hover {
  transform: scale(1.1);

}

#icon {
  color: black;
}

.bottom-icons {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 60px;
  margin-left: 10px;
}


i {
  color: #151136;
  font-size: 40px;
}





.buttons:active {
  transform: scale(0.9);
}

.buttons {
  display: inline-flex;
  color: #ffb0a1;
  user-select: none;
  background-color: #946599;
  border-radius: 8px;
  padding: 5px;
  border-style: none;
  margin-right: 20px;
  box-shadow: 1px 1px 10px black;
  cursor: url('images/mouse-cursor.png'), auto;
}